@using NtefyWeb.Models.ViewModels
@model RecordModel


@{
    ViewBag.Title = "Home Page";
    const string requestForm = "requestFormId";
}


@if (Request.IsAuthenticated)    
{
    <div id="result-message" class="col-md-4 col-md-offset-4"></div>
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
    using (Html.BeginForm("MakeRequest", "Request", FormMethod.Post, new { id = requestForm }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">           
            <div class="col-md-4 col-md-offset-4">
                @Html.LabelFor(x => x.Artist, new { @class = "artistLabel" })
                @Html.TextBoxFor(x => x.Artist, new { @class = "form-control" })
            </div>
            <div class="col-md-4 col-md-offset-4">
                @Html.LabelFor(x => x.Title, new { @class = "recordLabel" })
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            </div>            
        </div>
        <div class="form-group col-md-1 col-md-offset-4">
            <input type="submit" class="btn btn-default requestSubmit" value="Ntefy me!" />
        </div>
    }
}
else
{
    <div class="row">
        @if (!Request.IsAuthenticated)
        {
            <p>Log in to Ntefy using your preferred service</p>
            @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new NtefyWeb.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        }
        else
        {
           
        }
    </div>
}
@section scripts {
    <script id="request-found-template" type="text/x-handlebars-template">
        <div class="album-wrapper">
            <div class="albumImage"><img src="{{this.image}}" /></div>
            <div class="albumInfo">
                <p>Your request for <b>{{this.artist}} - {{this.title}}</b> is already on Spotify!</p>
                <p>Listen here: <a href="{{this.url}}">{{this.artist}} - {{this.title}}</a></p>
            </div>
        </div>
    </script>
    <script id="request-added-template" type="text/x-handlebars-template">
    <div class="request-wrapper">
        <p>Your request for {{this.artist}} - {{this.title}} is added!</p>
        <p>We'll NTEFY you when it's on Spotify!</p>        
    </div>
</script>
    <script>
        $(function () {
            requestModule.init("#@requestForm");
        });
    </script>
}
